* { margin: 0; padding: 0; }

/* ---------------- GENERAL CSS ---------------- */


html {
	height: 100%;
	
}

body { 
    font-family:   Open Sans, Century Gothic, Trebuchet MS, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 150%; /* 100% = 16px = 12pt = 1em */	
	text-shadow: black  0.1em 0.1em 0.1em;
    background: white;
	
  	margin: 0 auto;
	height: 100%;
	
	
	
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Bold-webfont.eot');
    src: url('font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Bold-webfont.woff') format('woff'),
         url('font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');

    font-style: normal;
	font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
    src: url('font/OpenSans-Italic-webfont.eot');
    src: url('font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Italic-webfont.woff') format('woff'),
         url('font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
	font-style: italic;
}

#wrapper {
	display: block;
	width: 100%;
	height: 100%;
}

#one { /* first page */
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	background: url(img/filipiny.jpg) grey no-repeat top center; 
	background-size: cover; 
	background-attachment: local;
  	margin: 0 auto;
	float: left;
	
	
}
#two { /* second page */
	background: white;
	position: relative;
	width: 100%;
	min-height: 50%;
  	clear: both;
	text-shadow: none;
	box-shadow: 0.1em 2em 2em 2em black;
	-moz-box-shadow: 0.1em 2em 2em 2em black;
	-webkit-box-shadow: 0.1em 2em 2em 2em black;
	-webkit-box-shadow: 0.1em 2em 2em 2em black;
}
	
#three { /* third page */
	
	position: relative;
	min-width: 100%;
	min-height: 100%;
	background: url(img/chiny.jpg) grey no-repeat bottom center;
    background-size: cover; 
	background-attachment: local; 
  	clear: both;
	display: block;
	
	
}

#summary {
	display: block;
	width: 100%;
	height: 100%;
	background: url(img/portugalia.jpg) grey no-repeat top center; 
	background-size: cover; 
	background-attachment: local;
  	margin: 0 auto;
	float: left;
	
}

ul {
	list-style: none; /* ewentualnie baloniki global citizen */
}

li:before { /* shadowed bullet points */
  content: '\2022'; /* bullet point code */
  padding: 1%;

}
a{ 
	color: #fff;
	text-decoration: none;
}

a:hover{ 
	text-decoration: underline;
}

#preload {

	display: none;
}
/* ---------------- CONTENT ----------------- */

#title-one { 
	
	margin-left: 40%;
	margin-right: 2%;
	padding-top: 5%;
	margin-bottom: 2%;
	

}

h1 { 
	font-size: 3em; /* zmieniaæ w media queries */
	font-size: 4.5vw;
	font-weight: bold;
}

.text-one {
	
	width: 35%;
	float: right;
	clear: both;
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	margin-right: 5%;
	margin-bottom: 2%;

}


.list-one {
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	width: 35%;
	float: right;
	clear: both;
	margin-right: 0;
	margin-bottom: 2%;

}

.more-one {
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	font-style: italic;
	float: right;
	clear: both;
	margin-right: 5%;
	margin-bottom: 2%;

}

.input {  /* first page input text fields */

	min-width: 50%;
	min-height: 2em; 
	border: 1px solid #999999; 
	padding: 0.2em;
	background-color:rgba(255, 255, 255, 0.8);
	
}	

.input:focus {
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#go {
	position: relative;
	background: url(img/strzalka.png) no-repeat center center;
	background-size: contain;
	height: 3em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30%;
	clear: both;
	width: 100%;
	float: right;
	}
	
#go:hover {
	background: url(img/strzalka2.png) no-repeat center center;
	background-size: contain;
}


#sign-one { /* AIESEC LOGO */
	position: absolute;
	float: left;
	left: -0.1em;
	bottom: 2%;
	font-size: 2em; /* zmieniaæ w media queries */
	font-size: 2vw;
	color: black;
	text-shadow: none;
}


/* ------------------- BEGINNING OF SECOND PAGE ------------------ */
#visualisation {
	width: 80%;
	
}
#sign-two { /* Anna Styczeñ, Sri Lanka */
	position: absolute;
	float: left;
	left: 2%;
	top: 2%;
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	color: #000;
	text-shadow: none;
	

}
#title-two { 
	position: absolute;
	width: 35%;
	margin-left: 5%;
	margin-right: 2%;
	padding-top: 10%;
	margin-bottom: 0%;
	color: #000;
	text-shadow: white  0.1em 0.1em 0.1em;
	
}
/* ------------------- BEGINNING OF THIRD PAGE ------------------ */

#title-three { 
	
	margin-left: 5%;
	margin-right: 2%;
	padding-top: 5%;
	margin-bottom: 0%;
	
	
}

h2 { 
	font-size: 2em; /* zmieniaæ w media queries */
	font-size: 3vw;
	font-weight: bold;
}
.text-three {
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	width: 40%;
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	

	
}

.input3 {  /* third page input text fields */
	max-width: 100%;
	min-width: 100%;
	min-height: 2em; 
	border: 1px solid #999999; 
	padding: 0.2em;
	background-color:rgba(255, 255, 255, 0.8);
	
}	

.input3:focus {
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

table {
	min-width: 100%;
	
}

.submit {
	width: 50%;
	display: block;
	text-align: center;
	float: left;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	
	}
	
.send {

		background: #a90329; /* Old browsers */
background: -moz-linear-gradient(45deg,  #a90329 0%, #8f0222 73%, #8f0222 73%, #6d1a1b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a90329), color-stop(73%,#8f0222), color-stop(73%,#8f0222), color-stop(100%,#6d1a1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #a90329 0%,#8f0222 73%,#8f0222 73%,#6d1a1b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #a90329 0%,#8f0222 73%,#8f0222 73%,#6d1a1b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #a90329 0%,#8f0222 73%,#8f0222 73%,#6d1a1b 100%); /* IE10+ */
background: linear-gradient(45deg,  #a90329 0%,#8f0222 73%,#8f0222 73%,#6d1a1b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d1a1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	width: 40%;
	height: 1.5em;
	display: inline-block;
	font-weight: bold;
	clear: both;
	margin: 0 auto;
	font-size: 2em; /* zmieniaæ w media queries */
	font-size: 2vw;
	text-shadow: black 0.1em 0.1em 0.1em;
	color: white;
	
	border: 2px white solid;
	margin-top: 4%;
	margin-bottom: 5%;
	
	}

.send:hover {
	cursor: pointer;
		color: yellow;
		border-color: #9ecaed;
    box-shadow: 0 0 30px #9ecaed;
}

.send:active {
	outline: none;
	
}

#logo-globalcitizen {
	
	background: url(img/logo-globalcitizen-biale.png) no-repeat center;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
	float: left;
	width: 100%;
	height: 5em;
	margin-top: 5%;
	
}



.form { /* apply form positioning */
	width: 35%;
	text-align: center;
	display: inline;
	float: right;
	font-size: 1.6em; /* zmieniaæ w media queries */
	font-size: 1.6vw;
	margin-top: 7%;
	margin-right: 2%;
	white-space: nowrap; /* dont break line */
	
	
}



#sign-quote {
	position: relative;
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	float: right;
	padding-right: 15%;
	
}
#sign-three { /* Aleksandra Grzesiak, Chiny */
	position: absolute;
	display: block;
	float: left;
	left: 2%;
	bottom: 2%;
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	color: #fff;
	text-shadow: none;
	
}

/* ------------ SUMMARY ---------------- */

#title-summary {
	
	margin-left: 10%;
	
	padding-top: 10%;
	
	
	
}


#text-summary {
	position: relative;
	font-size: 1.5em; /* zmieniaæ w media queries */
	font-size: 1.5vw;
	width: 40%;
	float: left;
	margin-top: 5%;
	margin-left: 10%;
	

	
}